---
layout: page
title: Owner Resources
background: '/img/ownerStock/shopping-phone.jpg'
---


<div class="container">
  <div class="row">
    {% assign sorted_owner = site.owner | sort:'title' %}
    {% for pp in sorted_owner %}
    <div class="col-4">
      <div class="row mt-4">
          <div class="col">
            <a href="{{ pp.url | prepend: site.baseurl | replace: '//', '/' }}">
              <img src="{{ pp.thumbnail | prepend: site.baseurl | replace: '//', '/' }}" class="img-thumbnail" alt="Owner Resources">
          </a>
        </div>
      </div>
      <div class="row mt-4 justify-center text-center">
          <div class="col">
              <h4 class="pp-title text-center">{{ pp.title }}</h4>
              {% if pp.description %}
              <h5 class="pp-subtitle">{{ pp.description }}</h5>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>