---
layout: page
title: Seller Resources
background: '/img/foldingShirt.jpg'
---

<div class="row">
  {% for pp in site.seller %}
    <div class="col-4">
      <a href="{{ pp.url | prepend: site.baseurl | replace: '//', '/' }}">
        <img src="{{ pp.thumbnail | prepend: site.baseurl | replace: '//', '/' }}" class="img-thumbnail" alt="Portfolio Piece">
    </a>
  </div>

{% endfor %}
</div>
<div class="row mt-3 justify-center text-center">
  {% for pp in site.seller %}
    <div class="col-4">
        <h3 class="pp-title text-center">{{ pp.title }}</h3>
        {% if pp.description %}
        <h5 class="pp-subtitle">{{ pp.description }}</h5>
      {% endif %}
    </a>
  </div>

{% endfor %}
</div>