<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <div class="row">
      <div class="col-1" id="avatar">
        <a class="navbar-brand" href="https:/listvalet.com">
          <img class="" src="/favicon.png" alt="favicon">
        </a>
      </div>
      <div class="col justify-content-center align-items-center align-self-center">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://listvalet.com">ListValet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/seller" | relative_url }}">Online Selling Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/owner" | relative_url }}">Online Buying Tools</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>
